<div class ="container">
<p> List of Books::: </p>
<ul class="list-group">
<% @books.each do |b| %>
  <li class="list-group-item disabled"><%= link_to b.title, b %> | Rating: <%= b.avg_rating %></li>
</ul>
<%end%>
</div>